---
title: Addresses Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = addresses %}
{% set refdata = addresses_refdata %}
{% include "../../_includes/layouts/dataTableInfo.njk" %}