---
title: Addresses Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = addresses %}
{% set refdata = addresses_refdata %}
{% set metadata = sirius.tables.addresses %}

{% include "../../_includes/layouts/dataTableInfo.njk" %}