---
title: Annual Report Lodging Details Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = annual_report_lodging_details %}
{% set refdata = annual_report_lodging_details_refdata %}
{% set metadata = sirius.tables.annual_report_lodging_details %}

{% include "../../_includes/layouts/dataTableInfo.njk" %}