---
title: Annual Report Type Assignemnts Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = annual_report_type_assignments %}
{% set refdata = annual_report_type_assignments_refdata %}
{% set metadata = sirius.tables.annual_report_type_assignments %}

{% include "../../_includes/layouts/dataTableInfo.njk" %}