---
title: Annual Report Logs Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = annual_report_logs %}
{% set refdata = annual_report_logs_refdata %}
{% set metadata = sirius.tables.annual_report_logs %}

{% include "../../_includes/layouts/dataTableInfo.njk" %}