---
title: Assignees Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = assignees %}
{% set refdata = assignees_refdata %}
{% set metadata = sirius.tables.assignees %}
{% include "../../_includes/layouts/dataTableInfo.njk" %}