---
title: assignees Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = assignees %}
{% set refdata = assignees_refdata %}
{% set metadata = assignees_metadata %}
{% include "../../_includes/layouts/dataTableInfo.njk" %}