---
title: Cases Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = cases %}
{% set refdata = cases_refdata %}
{% set metadata = sirius.tables.cases %}
{% include "../../_includes/layouts/dataTableInfo.njk" %}