---
title: Complaints Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = complaints %}
{% set refdata = complaints_refdata %}
{% set metadata = sirius.tables.complaints %}

{% include "../../_includes/layouts/dataTableInfo.njk" %}