---
title: Tasks Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = digitallpa_channel %}
{% set metadata = sirius.tables.digitallpa_channel %}


{% include "../../_includes/layouts/dataTableInfo.njk" %}