---
title: Documents Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = documents %}
{% set refdata = documents_refdata %}
{% set metadata = documents_metadata %}

{% include "../../_includes/layouts/dataTableInfo.njk" %}