---
title: Documents Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = documents %}
{% set refdata = documents_refdata %}
{% set metadata = sirius.tables.documents %}

{% include "../../_includes/layouts/dataTableInfo.njk" %}