---
title: Finance Remission and Exemptions Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = finance_remission_exemption %}
{% set refdata = finance_remission_exemption_refdata %}
{% set metadata = finance_remission_exemption_metadata %}

{% include "../../_includes/layouts/dataTableInfo.njk" %}