---
title: Finance Ivoice Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = finance_invoice %}
{% set refdata = finance_invoice_refdata %}
{% set metadata = finance_invoice_metadata %}

{% include "../../_includes/layouts/dataTableInfo.njk" %}