---
title: Finance Order Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = finance_order %}
{% set refdata = finance_order_refdata %}
{% set metadata = sirius.tables.finance_order %}

{% include "../../_includes/layouts/dataTableInfo.njk" %}