---
title: Finance Person Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = finance_person %}
{% set refdata = finance_person_refdata %}
{% set metadata = finance_person_metadata %}

{% include "../../_includes/layouts/dataTableInfo.njk" %}