---
title: Finance Remission and Exemptions Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = investigation %}
{% set refdata = investigation_refdata %}
{% set metadata = investigation_metadata %}

{% include "../../_includes/layouts/dataTableInfo.njk" %}