---
title: Invoice Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = invoice %}
{% set refdata = invoice_refdata %}
{% set metadata = sirius.tables.invoice %}

{% include "../../_includes/layouts/dataTableInfo.njk" %}