---
title: Persons Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = persons %}
{% set refdata = persons_refdata %}
{% set metadata = persons_metadata %}

{% include "../../_includes/layouts/dataTableInfo.njk" %}