---
title: Supervision Level Log Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = supervision_level_log %}
{% set refdata = supervision_level_log_refdata %}
{% set metadata = sirius.tables.supervision_level_log %}

{% include "../../_includes/layouts/dataTableInfo.njk" %}