---
title: Supervision Notes Table - Sirius Case Management
layout: layouts/fullwidth.njk
---
{% set table = supervision_notes %}
{% set refdata = supervision_notes_refdata %}
{% set metadata = supervision_notes_metadata %}

{% include "../../_includes/layouts/dataTableInfo.njk" %}