{% macro dataTable(table, refdata_table) %}

<table class="govuk-table govuk-!-font-size-16">
      <caption class="govuk-table__caption govuk-table__caption--m">{{table.name}} table columns</caption>
      <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th scope="col"  class="govuk-table__header">
            Column Name
        </th>
         <th scope="col"  class="govuk-table__header">
            Column Type
        </th>
        <th scope="col"  class="govuk-table__header">
            Character Maximum
        </th>
        <th scope="col"  class="govuk-table__header">
            Is Nullable
        </th>
        <th scope="col"  class="govuk-table__header">
            Default
        </th>
        <th scope="col"  class="govuk-table__header">
        Constrained values
        </th>

    {% for column in table.columns %}
    <tr>
        <th scope="row" class="govuk-table__header">
            <a href="#column__{{ column.column_name }}" id="column__{{ column.column_name }}" class="heading-link">
            {{ column.column_name }}
            </a>
        </td>
        <td class="govuk-table__cell">
            {{ column.data_type}}
        </td>
        <td class="govuk-table__cell">
            {{ column.character_maximum_length}}
        </td>
        <td class="govuk-table__cell">
            {{ column.is_nullable }}
        </td>
        <td class="govuk-table__cell">
            {{ column.column_default}}
        </td>
        <td class="govuk-table__cell">
            {% for ref, refclass in refdata_table[column.column_name] %}
            {{ ref }},<br>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>     
{% endmacro %}