---
layout: layouts/fullwidth.njk
title: OPG Data Dictionary
---
<h1 class="govuk-heading-xl">{{site.name}}</h1>
<p class="govuk-body-l">This is an early stage prototype for a data-dictionary for the Office of the Public Guardian.</p>

<p class="govuk-body">
Date sources included here:
</p>

    <ul class="govuk-list">
        <li><a class="govuk-link" href="sources/sirius">Sirius Case Management</a>
    </ul>
