---
layout: layouts/fullwidth.njk
title: OPG Data Dictionary
---
<h1 class="govuk-heading-xl">{{site.name}}</h1>
<p class="govuk-body-l">This is an early stage prototype for a data-dictionary for the Office of the Public Guardian.</p>

<p class="govuk-body">This site contains information on data schemas, constrained lists, formats and their history. The aim is a resource that can help you discover what data we have, where it lives and what it means.</p>

{% from "../node_modules/govuk-frontend/govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({text:"This is a very early prototype. Feedback is welcomed to the #opg-analytical-hookup channel on Slack."}) }}

<h2 class="govuk-heading-l">Data Sources</h2>
<p class="govuk-body">
The following data sources included here:
</p>

    <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link" href="sources/sirius">Sirius Case Management</a>
    </ul>
